@import url("global.css");

.hero_container {
    padding: 2rem 5rem;
}

.card_container {
    display: flex;
}

.back_button svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-text-3);
    transition: all 0.3s ease-out;
    rotate: 180deg;
}

.button-primary:hover svg {
    fill: var(--color-text-3-hover);
    transition: all 0.3s ease-out;
    transform: translateX(0.5rem);
}

.button-primary.back_button {
    margin-top: 2rem;
    gap: 1rem;
}

.container_cardinfo {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.container_image {
    background-color: gray;
    height: 55vh;
    border-radius: 0.5rem;
}

.container_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.container_info {
    flex: 1;
    padding: 1rem;
}

.content_info {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.content_info_icon {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-text);
}

.content_info_name {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-text);
    width: 100%;
    text-align: center;
}

.container_display2 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.content_info_container {
    padding: 1rem 7.5rem;
}

.hero_content {
    padding: 1rem;
}
